.footer-info {
  @media screen and (min-width: $mobile-fixed) and (max-width: $mobile-max) {
    padding-bottom: 60px;}
    @media screen and (min-width: $tablet-fixed) and (max-width: $tablet-max) {
    padding-left: 100px;} 
    // @media screen and (min-width: $desktop-fixed) {
    //   margin-right: 66px;
    // }
  }
 


.footer-nav {
    margin-top: 20px;
  }
  
.footer-nav--list {
    @extend %list;
  
    & > .footer-nav--item + .footer-nav--item {
      padding-top: 8px;
    }
  }
  
.footer-nav--item--maps {
    @extend %link;
  
    font-family: inherit;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $color-text-white;
  
    transition: color 250ms $timing-function;
  
    &:hover,
    &:focus {
      color: $color-text-hover;
      cursor: pointer;
    }
  }
  
  .footer-nav--item--contact {
    @extend %link;
  
    color: $color-text-translucent;
  
    font-family: inherit;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  
    transition: color 250ms $timing-function;
  
    &:hover,
    &:focus {
      color: $color-text-hover;
      cursor: pointer;
    }
  }
  