
// Adaptive sizes
$mobile-fixed: 480px;
$mobile-max: 767px;
$tablet-fixed: 768px;
$tablet-max: 1199px;
$desktop-fixed: 1200px;

// @media screen and (min-width: $desktop-fixed) {}
// @media screen and ($tablet-fixed) {}